body {
    background-image: linear-gradient(to bottom, rgba(0, 193, 183, 0.5) 0%, rgba(57, 184, 176, 0) 100%);
    height: 735px;
    margin: 0px;
    background-repeat: no-repeat;
    cursor: default;
}
.minhaFoto {
    margin-left: 25%;
    margin-top: 20px;
    width: 153px;
    height: 204px;
    z-index: 1;
    position: relative;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}
.vetores {
    z-index: 0;
    position: absolute;
}
#textoNome {
    margin-top: 73px;
    margin-left: -10%;
    width: 528px;
    height: 72px;
    font-family: 'Lemonada', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    text-align: center;
    color: #E793F4;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000000;
    cursor: pointer;
}
#divPaginaTab {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}
#textoOla {
    font-family: 'Birthstone';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: 0.1em;
    color: #000000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}
.container-botoes {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 60px;
    flex-wrap: wrap;
    margin-left: -60px;
}
.container-numeros {
    display: flex;
    flex-flow: row wrap;
    width: 90px;
}
.caixas {
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.container-calculadora {
    display: flex;
    flex-direction: column;
}
.visor-calculadora {
    width: 120px;
    height: 40px;
    background-color: #E793F4;
    margin-left: -60px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 5px 0 0 5px;
}
.container-jogo {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.botoesX-jogo {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 300px;
}
.botoesO-jogo {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 300px;
}
.caixas-jogo {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}
.borda-lr {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
.borda-tb {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.borda-all {
    border: 2px solid #000000;
}