<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-image: linear-gradient(to bottom, rgba(80, 224, 216, 0.5), rgba(57, 184, 176, 0));
        }

        .divFotos {
            width: 100%;
        }

        .fotos {
            height: 300px;
        }
    </style>
</head>
<body>
    <div id="primeiraDiv" class="divFotos">
        <img src="Imagens/eu.jpg" class="fotos">
        <img src="Imagens/eu.jpg" class="fotos">
        <img src="Imagens/github.png">
    </div>

    <div id="segundaDiv" class="divFotos">
        <img src="Imagens/eu.jpg" class="fotos">
        <img src="Imagens/eu.jpg" class="fotos">
    </div>

</body>
</html>